node_modules
npm-debug.log
.DS_Store

build/
dev/

*.zip
*.crx
*.pem
update.xml

/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

npm-debug.log
node_modules/
dist/
tmp/